
@{
    ViewBag.Title = "Services";
}
<p><a href="NewService" class="btn btn-primary btn-lg" style="margin-top:15px;">Записаться на прием &raquo;</a></p>
<h2>Предстоящие записи</h2>


<div id="tableBlock" class="mt-2"></div>


@section scripts
{
    <script type="text/javascript">
        $(document).ready(function () {

            CheckToken();
            GetAllPets();

        });

        function CheckToken() {
            var nav = document.getElementsByClassName('navbar-nav');
            var token = window.localStorage.getItem('tokenKey');
            if (!token) {
                nav.html = "<li class='nav-item'><a href='http://localhost:64332'>Главная</a></li>";
                window.location.href = "http://localhost:64332";
            }
        }

        
        function GetAllPets() {

            $.ajax({
                url: 'http://localhost:64332/api/User/AllClientServices',
                type: 'GET',
                dataType: 'json',
                success: function (data) {
                    console.log(data);
                    WriteResponse(data);
                },
                error: function (x, y, z) {
                    alert(x + '\n' + y + '\n' + z);
                },
                beforeSend: function (xhr) {
                    var token = window.localStorage.getItem('tokenKey');
                    xhr.setRequestHeader("Authorization", "Bearer " + token);
                }
            });
        }

        function WriteResponse(services) {
            var strResult = "<table class='table table-striped table-bordered'><thead class='thead-dark' align='center'><th>Врач</th><th>Услуга</th><th>Питомец</th><th>Дата</th><th>Время</th></thead>";
            $.each(services, function (index, ser) {
                var date = ser.DateTimeService.slice(0, 10);
                var time = ser.DateTimeService.slice(11, 16);
                
                strResult += "<tr align='center'><td>" + ser.Doctor.Name + "</td><td> " + ser.ServiceType.Name + "</td> <td> " + ser.Pet.Name + "</td> <td> " + date + "</td><td> " + time + "</td></tr>";
            });
            strResult += "</table>";
            $("#tableBlock").html(strResult);

        }



       
    </script>
}
