
@{
    ViewBag.Title = "Vaccination";
}

<h2>График вакцинации питомца</h2>

<div id="tableBlock" class="mt-2"></div>


@section scripts
{
    <script type="text/javascript">
        $(document).ready(function () {

            CheckToken();
            GetAllPets();

        });

        function CheckToken() {
            var nav = document.getElementsByClassName('navbar-nav');
            var token = window.localStorage.getItem('tokenKey');
            if (!token) {
                nav.html = "<li class='nav-item'><a href='http://localhost:64332'>Главная</a></li>";
                window.location.href = "http://localhost:64332";
            }
        }

        var getUrlParameter = function getUrlParameter(sParam) {
            var sPageURL = window.location.search.substring(1),
                sURLVariables = sPageURL.split('&'),
                sParameterName,
                i;

            for (i = 0; i < sURLVariables.length; i++) {
                sParameterName = sURLVariables[i].split('=');

                if (sParameterName[0] === sParam) {
                    return sParameterName[1] === undefined ? true : decodeURIComponent(sParameterName[1]);
                }
            }
        };

        function GetAllPets() {

            $.ajax({
                url: 'http://localhost:64332/api/User/GetVaccinationPet?id=' + getUrlParameter('id'),
                type: 'GET',
                dataType: 'json',
                success: function (data) {
                    console.log(data);
                    WriteResponse(data);
                },
                error: function (x, y, z) {
                    alert(x + '\n' + y + '\n' + z);
                },
                beforeSend: function (xhr) {
                    var token = window.localStorage.getItem('tokenKey');
                    xhr.setRequestHeader("Authorization", "Bearer " + token);
                }
            });
        }

        function WriteResponse(vaccines) {
            var strResult = "<table class='table table-striped table-bordered'><thead class='thead-dark' align='center'><th>Название</th><th>Дата</th><th>Действует до</th><th>Отметка</th></thead>";
            $.each(vaccines, function (index, vac) {
                var date1 = vac.DateOfVaccination.slice(0, 10);
                var date2 = vac.ExpiredDate.slice(0, 10);
                var a = "";
                if (vac.IsVaccinated) a = "&#10003";
                strResult += "<tr align='center'><td>" + vac.VaccineName + "</td><td> " + date1 + "</td><td>" +
                    date2 + "</td><td>" + a + "</td></tr>";
            });
            strResult += "</table>";
            $("#tableBlock").html(strResult);

        }



        
    </script>
}